<h1><%= @game.name %></h1>

<p><%= @game.summary %></h1>

<ul>
  <li>Release date: <%= @game.release_date %></li>
  <li>Rating: <%= @game.rating %></li>
  <% if !@game.parent.nil? %>
    <li>Expansion for <%= link_to "#{@game.parent.name}", @game.parent %></li>
  <% end %>
</ul>

<%= link_to "Back to Games", games_path %>
<%= link_to "Delete Game", game_path(@game), method: :delete, data: { confirm: "Do you really want to delete this game?" } %>
